# Superadmin initialization (только для init-скрипта)
SUPERADMIN_EMAIL=admin@admin.com
SUPERADMIN_USERNAME=superadmin
SUPERADMIN_PASSWORD=Superadmin228!

# pgAdmin (web-интерфейс для общего PostgreSQL)
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin
PGADMIN_PORT=5050
