# =========== POSTGRES (для Docker) ===========
POSTGRES_USER=user_user
POSTGRES_PASSWORD=user_password
POSTGRES_DB=user_db

# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== USER SERVICE ===========
USER__DB__USER=user_user
USER__DB__PASSWORD=user_password
USER__DB__HOST=user-postgres
USER__DB__PORT=5432
USER__DB__NAME=user_db
USER__AUTH_SERVICE__URL=http://auth-service:8001
USER__DEBUG=True
USER__SERVICE_NAME=user-service