# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== CACHE ===========
CACHE__REDIS_URL=redis://redis:6379/0
CACHE__USER_CACHE_TTL=60
CACHE__TOKEN_CACHE_TTL_BUFFER=30

# =========== SERVICES ===========
SERVICES__AUTH=http://auth-service:8001
SERVICES__USER=http://user-service:8002
SERVICES__PROFILE=http://profile-service:8003
SERVICES__TESTING=http://testing-service:8004
SERVICES__CHAT=http://chat-service:8005
SERVICES__CHAT_WS=ws://chat-service:8005
SERVICES__SEARCH=http://search-service:8006

# =========== API GATEWAY ===========
GATEWAY__KEYCLOAK__CLIENT_ID=briolin-api-gateway
GATEWAY__KEYCLOAK__CLIENT_SECRET=DmbABtjoJuhM1l753KhnPhKa9mtLzzG7
GATEWAY__HOST=0.0.0.0
GATEWAY__PORT=8000
GATEWAY__DEBUG=True
GATEWAY__SERVICE_NAME=api-gateway