# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== CHAT SERVICE ===========
CHAT__MONGO__HOST=chat-mongo
CHAT__MONGO__PORT=27017
CHAT__MONGO__DATABASE=chat_db

CHAT__POSTGRES__USER=chat_user
CHAT__POSTGRES__PASSWORD=chat_password
CHAT__POSTGRES__HOST=chat-postgres
CHAT__POSTGRES__PORT=5432
CHAT__POSTGRES__NAME=chat_db
CHAT__POSTGRES__ECHO=false
CHAT__POSTGRES__POOL_SIZE=20
CHAT__POSTGRES__MAX_OVERFLOW=10
POSTGRES_USER=chat_user
POSTGRES_PASSWORD=chat_password
POSTGRES_DB=chat_db

CHAT__USER_SERVICE__URL=http://user-service:8002
CHAT__PROFILE_SERVICE__URL=http://profile-service:8003
CHAT__MATCHING_SERVICE__URL=http://matching-service:8006

CHAT__REDIS__URL=redis://redis:6379/1

CHAT__WEBSOCKET__TIMEOUT=300
CHAT__WEBSOCKET__MESSAGE_RATE_LIMIT=10
CHAT__WEBSOCKET__MESSAGE_RATE_WINDOW=60

CHAT__DEBUG=True
CHAT__SERVICE_NAME=chat-service