# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== DATABASE ===========
MEDIA__DB__USER=media_user
MEDIA__DB__PASSWORD=media_password
MEDIA__DB__HOST=media-postgres
MEDIA__DB__PORT=5432
MEDIA__DB__NAME=media_db
MEDIA__DB__ECHO=False
MEDIA__DB__POOL_SIZE=20
MEDIA__DB__MAX_OVERFLOW=10
POSTGRES_USER=media_user
POSTGRES_PASSWORD=media_password
POSTGRES_DB=media_db

# =========== MINIO ===========
MINIO__ENDPOINT=minio:9000
MINIO__ACCESS_KEY=minioadmin
MINIO__SECRET_KEY=minioadmin
MINIO__BUCKET_AVATARS=avatars
MINIO__SECURE=false
MINIO__REGION=us-east-1

# =========== MEDIA SERVICE ===========
MEDIA__DEBUG=True
MEDIA__SERVICE_NAME=media-service
MEDIA__HOST=0.0.0.0
MEDIA__PORT=8007
MEDIA__MAX_FILE_SIZE=5242880
MEDIA__AVATAR_SIZE=1024
MEDIA__THUMBNAIL_SIZE=200
MEDIA__MAX_AVATARS_PER_USER=10
