# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== MINIO ===========
MINIO__ENDPOINT=minio:9000
MINIO__ACCESS_KEY=minioadmin
MINIO__SECRET_KEY=minioadmin
MINIO__BUCKET_AVATARS=avatars
MINIO__SECURE=false
MINIO__REGION=us-east-1

# =========== MEDIA SERVICE ===========
MEDIA__DEBUG=True
MEDIA__SERVICE_NAME=media-service
MEDIA__HOST=0.0.0.0
MEDIA__PORT=8007
MEDIA__MAX_FILE_SIZE=5242880
MEDIA__MAX_WIDTH=2000
MEDIA__MAX_HEIGHT=2000
MEDIA__THUMBNAIL_SIZE=200