# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== TESTING SERVICE ===========
TESTING__DB__USER=testing_user
TESTING__DB__PASSWORD=testing_password
TESTING__DB__HOST=testing-postgres
TESTING__DB__PORT=5432
TESTING__DB__NAME=testing_db

TESTING__MONGO__HOST=testing-mongo
TESTING__MONGO__PORT=27017
TESTING__MONGO__DATABASE=testing_db

TESTING__DEBUG=True
TESTING__SERVICE_NAME=testing-service