# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== PROFILE SERVICE ===========
PROFILE__DB__USER=profile_user
PROFILE__DB__PASSWORD=profile_password
PROFILE__DB__HOST=profile-postgres
PROFILE__DB__PORT=5432
PROFILE__DB__NAME=profile_db
PROFILE__AUTH_SERVICE__URL=http://auth-service:8001
PROFILE__DEBUG=True
PROFILE__SERVICE_NAME=profile-service
POSTGRES_USER=profile_user
POSTGRES_PASSWORD=profile_password
POSTGRES_DB=profile_db