# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== SMTP (GMAIL) ===========
EMAIL__SMTP__HOST=smtp.gmail.com
EMAIL__SMTP__PORT=587
EMAIL__SMTP__USER=briolinofficial@gmail.com
EMAIL__SMTP__PASSWORD=qrzastrsgudldxyh
EMAIL__SMTP__FROM_EMAIL=briolinofficial@gmail.com
EMAIL__SMTP__USE_TLS=True

# =========== EMAIL SERVICE ===========
EMAIL__DEBUG=True
EMAIL__SERVICE_NAME=email-service
EMAIL__QUEUE_NAME=email.notifications