# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== SMTP ===========
EMAIL__SMTP__HOST=smtp.gmail.com
EMAIL__SMTP__PORT=587
EMAIL__SMTP__USER=briolin@gmail.com
EMAIL__SMTP__PASSWORD=briolin-password
EMAIL__SMTP__FROM_EMAIL=noreply@briolin.com
EMAIL__SMTP__USE_TLS=True

# =========== SMTP (MailHog для разработки) ===========
EMAIL__SMTP__HOST=mailhog
EMAIL__SMTP__PORT=1025
EMAIL__SMTP__USER=
EMAIL__SMTP__PASSWORD=
EMAIL__SMTP__FROM_EMAIL=noreply@briolin.local
EMAIL__SMTP__USE_TLS=False

# =========== EMAIL SERVICE ===========
EMAIL__DEBUG=True
EMAIL__SERVICE_NAME=email-service
EMAIL__QUEUE_NAME=email.notifications