# Shared
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# RabbitMQ
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# Keycloak (optional, for shared config)
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# Matching service
MATCHING__DEBUG=True
MATCHING__HOST=0.0.0.0
MATCHING__PORT=8006
MATCHING__SERVICE_NAME=matching-service

MATCHING__DB__USER=matching_user
MATCHING__DB__PASSWORD=matching_password
MATCHING__DB__HOST=matching-postgres
MATCHING__DB__PORT=5432
MATCHING__DB__NAME=matching_db
MATCHING__DB__ECHO=False
POSTGRES_USER=matching_user
POSTGRES_PASSWORD=matching_password
POSTGRES_DB=matching_db

MATCHING__REDIS__URL=redis://redis:6379/2

# Лимиты
MATCHING__TARGETED_DAILY_VIEW_LIMIT=100
MATCHING__TARGETED_LOCK_HOURS=12
MATCHING__DAILY_LIKE_LIMIT=10

# Service URLs
PROFILE_SERVICE_URL=http://profile-service:8003
CHAT_SERVICE_URL=http://chat-service:8005