# =========== POSTGRES (для Docker) ===========
POSTGRES_USER=search_user
POSTGRES_PASSWORD=search_password
POSTGRES_DB=search_db

# =========== SHARED ===========
SHARED__JWT_SECRET=skibidi
SHARED__JWT_ALGORITHM=HS256
SHARED__JWT_ISSUER=briolin-api-gateway
SHARED__JWT_AUDIENCE=briolin-services
SHARED__JWT_EXPIRE_MINUTES=5

# =========== RABBITMQ ===========
RABBITMQ__HOST=rabbitmq
RABBITMQ__PORT=5672
RABBITMQ__USER=guest
RABBITMQ__PASSWORD=guest
RABBITMQ__VHOST=/

# =========== KEYCLOAK ===========
KEYCLOAK__SERVER_URL=http://keycloak:8080/
KEYCLOAK__REALM=briolin

# =========== SEARCH SERVICE ===========
# Своя БД (для search_sessions)
SEARCH__DB__USER=search_user
SEARCH__DB__PASSWORD=search_password
SEARCH__DB__HOST=search-postgres
SEARCH__DB__PORT=5432
SEARCH__DB__NAME=search_db
SEARCH__DB__ECHO=False
SEARCH__DB__POOL_SIZE=20
SEARCH__DB__MAX_OVERFLOW=10

# URL profile-service
SEARCH__PROFILE_SERVICE__URL=http://profile-service:8003

# Auth service (опционально)
SEARCH__AUTH_SERVICE__URL=http://auth-service:8001

# Общие настройки
SEARCH__DEBUG=True
SEARCH__SERVICE_NAME=search-service